#cover-image-tooltip {
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto';
}

#root {
  min-height: 100vh;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

.__react_component_tooltip {
  padding: 0!important;
  background: #212024!important;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.switch-toggle.switch-candy {
  margin: 15px 0;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}

.switch-candy a {
  border-radius:32px;
  border: none;
  background-image: none;
  background: #f73378;
  box-shadow: none;
}

.switch-candy label {
  color: gray!important;
}

.switch-candy input:checked + label {
  color: #fff!important;
  text-shadow: none;
  outline: none;
}