.container {
  padding: 0 20px;
  padding-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: Englebert;
  font-size: 2.2em;
}

.deleteIcon {
  cursor: pointer;
  border-radius: 24px;
  transition: all 0.2s ease-in-out;
}

.rating {
  width: 276px!important;
  margin-top: 8px!important;
  // margin-left: 15px!important;
}

.flexContainer {
  margin: 4px 0;
  display: flex;
  justify-content: space-between;
}

.bookTitle {
  color: #f73378;
}