.container {
  width: 450px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  background: #303030;
  color: #fff;
}