.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.4);
}

.hiddenAlert {
  height: 48px;
}

.progress{
  display: flex;
  height: 40px;
  flex-direction: column;
  justify-content: center;
}