.container {
  left: 300px;
  width: 100%;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius: 25px 0 0 25px;
  background: #303030;
  flex: 1;
}

table {
  margin-left: auto;
  table-layout: auto;
  font-size: 0.75em;
}

tbody{
  color: #dfdfe1;
}

td:nth-child(1), th:nth-child(1) {
  padding: 8px;
  width: 325px;
  // overflow: hidden;
  // white-space: nowrap;
  // text-overflow: ellipsis;
}

td:nth-child(2), th:nth-child(2) {
  padding: 8px;
  width: 125px;
}

td:nth-child(3), th:nth-child(3) {
  padding: 8px;
  text-align: center;
}

td:nth-child(4), th:nth-child(4) {
  padding: 8px;
  text-align: center;
}

td:nth-child(5), th:nth-child(5) {
  padding: 8px;
  text-align: center;
}

thead > tr {
  background: #000;
  color: white;
}

tbody tr:hover {
  background: lightgray;
}

.desc {}

.asc {}

.hidden {}

.desc::after {
  content: '▿';
}

.asc::after {
  content: '▵';
}

.hidden::after {
  content: '▵';
  color: transparent;
}