.container {
  left: 300px;
  width: 100%;
  border-radius: 25px 0 0 25px;
  background: #212024;
  flex: 1;
  height: fit-content;
  min-height: 100vh;
  padding-bottom: 70px;
}

table {
  border-collapse: collapse;
  margin: auto;
  table-layout: auto;
  font-size: 0.85em;
  background: #303030;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

tbody{
  color: #e5e5e6;
}

.bookTable thead tr, .bookTable tbody tr {
  cursor: pointer;
}

td:nth-child(1), th:nth-child(1) {
  padding: 8px;
  width: 325px;
  // overflow: hidden;
  // white-space: nowrap;
  // text-overflow: ellipsis;
}

td:nth-child(2), th:nth-child(2) {
  padding: 8px;
  width: 200px;
}

td:nth-child(3), th:nth-child(3) {
  padding: 8px;
}

td:nth-child(4), th:nth-child(4) {
  padding: 8px;
}

td:nth-child(5), th:nth-child(5) {
  padding: 8px;
}

thead > tr {
  color: #a4a4a9;
  text-align: left;
}

tbody tr:hover {
  background: #f73378;
}

.desc {}

.asc {}

.hidden {}

.desc::after {
  content: '▿';
}

.asc::after {
  content: '▵';
}

.hidden::after {
  content: '▵';
  color: transparent;
}

.title {
  color: #fff;
  font-family: Englebert;
  text-align: center;
  font-size: 2em;
  margin-top: 30px;
  margin-bottom: 30px;
}

.subContainer {
  text-align: right;
}

.dummyTable {
  background: none;
  box-shadow: none;
}

.dummyHeader {
  display: flex;
  justify-content: space-between;
  padding: 0!important;
  width: 805.5px!important;
}

// begin: Dropdown
.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  align-self: flex-end;
  margin-bottom: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(48, 48, 48, 0.88);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 0;
  left: -10px;
}

.dropdown-content > div label {
  color: #fff;
  padding: 7px 0;
  display: flex;
}

.dropdown-content > div label:hover {
  background-color: rgba(247, 51, 120, 0.77);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
}

.status-selector {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.status-selector > label input, label {
  // align-self: center;
}

.status-selector > label input {
  align-self: center;
  margin: 0 12px;
}

// end: Dropdown