.container {
  left: 300px;
  width: 100%;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius: 25px 0 0 25px;
  background: #303030;
  flex: 1;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  table-layout: auto;
  font-size: 0.75em;
  background: #212024;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

tbody{
  color: #e5e5e6;
}

td:nth-child(1), th:nth-child(1) {
  padding: 8px;
  width: 325px;
  // overflow: hidden;
  // white-space: nowrap;
  // text-overflow: ellipsis;
}

td:nth-child(2), th:nth-child(2) {
  padding: 8px;
  width: 125px;
}

td:nth-child(3), th:nth-child(3) {
  padding: 8px;
  // text-align: center;
}

td:nth-child(4), th:nth-child(4) {
  padding: 8px;
  // text-align: center;
}

td:nth-child(5), th:nth-child(5) {
  padding: 8px;
  // text-align: center;
}

thead > tr {
  color: #a4a4a9;
  // color: white;
  text-align: left;
}

tbody tr:hover {
  background: #f73378;
}

.desc {}

.asc {}

.hidden {}

.desc::after {
  content: '▿';
}

.asc::after {
  content: '▵';
}

.hidden::after {
  content: '▵';
  color: transparent;
}

.title {
  color: #fff;
  font-family: Englebert;
  text-align: center;
  font-size: 2em;
  margin-top: 30px;
  margin-bottom: 30px;
}